body {
  margin: 0;
  padding: 0;
  border: 0;
}


.video-gallery-container {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  padding: 0.5rem 1rem;
  align-items: flex-start;
}

.video-gallery-container .featured-video a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
}

.video-gallery-container .all-videos {
  height: 29.81rem;
  overflow-y: scroll;
  border: 0.1px solid red;
}

.video-gallery-container .all-videos .video {
  display: flex;
  gap: 0.3rem;
  padding: 0.3rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform ease 0.5s, box-shadow ease 0.5s;
}

.video-gallery-container .all-videos .video:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.video-gallery-container .all-videos .video .thumbnail {
  height: 65px;
  width: 100px;
  padding: 0.3rem;
  padding-top: auto;
  padding-bottom: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-top: auto;
  border-bottom: auto;
  cursor: pointer;
}

.video-gallery-container .all-videos .video .title {
  padding: 0.3rem;
  cursor: pointer;
}

.video-gallery-container .all-videos .video .title a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
}


/* for header and footer*/

.logo1 {
  position: relative;
  height: 40px;

}

.logo2 {
  position: relative;
  height: 40px;
  left: 290px;
}

.heading {
  position: absolute;
  height: 40px;
}

.heading h3 {
  font-size: 26px;
  font-weight: lighter;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

#navbar {
  width: 100%;
  height: 40px;
  background: #0082e6;
  position: fixed;
  z-index: 9999;
  top: 0px;
}


ul.navbar_ul {
  display: flex;
  float: right;
  justify-content: center;
  padding: 12px;
  padding-right: 30px;
  margin: 0;

}

ul.navbar_ul li {
  margin-left: 55px;
  display: inline-block;
}

ul.navbar_ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.6s;
  font-size: 16px;
}

ul.navbar_ul li a:hover {
  color: #f4464f;
}

ul.navbar_ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: red;
  display: block;
  margin: auto;
  transition: 0.5s;
}

ul.navbar_ul li:hover::after {
  width: 100%;
}

#BodyContent {
  position: absolute;
  width: 1000px;
  top: 45px;
  padding: 5px;
}

#home_image img {
  width: 340px;
  height: auto;
  border-radius: 52% 48% 47% 44% / 0% 0% 9% 27%;
}



/* footer section */
#footer {
  width: 100%;
  height: 20rem;
  background-color: rgb(67, 67, 67);
  align-items: center;
  padding: 0px;

}

.footer_row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15.63rem;
}

.footer-column {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.footer_row ul li {
  list-style: none;
  padding-top: 5px;
  text-align: left;
}

.footer_row ul li a {
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 14px;
  transition: 0s;
}

.footer_row ul li a:hover {
  color: #f4464f;

}

.col_heading {
  color: white;
  font-size: 20px;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
}

#footer_text {
  position: relative;
  text-align: center;
  top: 1rem;
}

#footer_text h4 {
  color: #9b9797;
  font-weight: lighter;
}